.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px auto 0;
    width: 100%;
    max-width: 358px;
}

.auth__title {
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 50px;
}

.auth__form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.auth__input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    width: 358px;
    height: 27px;
    margin-bottom: 30px;
}

.auth__button {
    background: white;
    color: black;
    width: 358px;
    height: 50px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 190px;
}

.auth__link {
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-top: 15px;
    text-decoration: none;
}